@font-face {
    font-family: 'Arual';
    src: url(https://kohleral.github.io/Lucida/fonts/Arual.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(https://kohleral.github.io/Lucida/fonts/Roboto-Thin.ttf) format('truetype');
}

body {
    background-color: #222222; 
    color: #eee;
    font-family: 'Roboto';
}

h1, h2, h3 {
    font-family: 'Arual';
    color: #c2ffc3;
}

img {
    max-width: 300px;
}

a {
    color: #c2ffc3;
    text-decoration: none;
}

.info {
    display: inline-block;
}