body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://kohleral.github.io/Lucida/img/bg.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: cover;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right */
    to {
      background-position:  0 20000px;
    }
  } 